.navigation {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f4f6f8;
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100vw;
    background-color: #fff;
    z-index: 99;
}
.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
}

.logoIcon {
    width: 100px;
    height: 30px;
}

.helpWrapper {
    background: #645AFF;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    width: 60px;
}

.content {
    margin-top: 55px;
    width: 100vw;
    height: calc(100vh - 75px);
    background-color: #eee;
    padding: 20px 10px 0;
}